body {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 98.5%;
  height: 98.5%;
}

.objects {
  background-color: whitesmoke;
  opacity: 0.97;
  margin-right: 0.25%;
  padding: 0 5px;
  border: 1px solid;
  height: auto;
  overflow: visible;
  white-space: normal;
  vertical-align: top;
}

#top {
  display: flex;
  margin-bottom: 0.25%;
}

#name-ovr {
  text-align: center;
  width: 25%;
  border: 1px solid;
  padding-top: 13px;
}

#name-ovr img {
  width: 35%;
}

#name {
  line-height: 0;
  font-weight: bold;
  font-size: 20px;
}

#detailovr {
  width: 10%;
}

#stats {
  width: 10%;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

ul li {
  line-height: calc(100% * 2);
}

#basic-info {
  width: 10%;
}

#achievements {
  width: 41%;
}

#list-achievements {
  display: flex;
}

#team-achievement {
  margin-right: 1%;
}

#middle {
  margin-bottom: 0.25%;
  display: flex;
}

#biography {
  width: 33%;
  border: 1px solid;
}

h2,
h3 {
  text-decoration: underline;
  line-height: 1.2;
}

h2 {
  margin: 0 0 0 0;
}

h3 {
  margin: 8% 0 0 0;
}

#achievements h3 {
  margin: 2% 0 0 0;
}

#biography p {
  line-height: normal;
}

#season {
  width: 33%;
}

.teamavt {
  width: 10%;
}

.teamavt img {
  width: 100%;
}

td.team {
  height: auto;
  overflow: visible;
  white-space: normal;
}

td.team h3,
td.team p {
  margin: 0;
  line-height: 1.2;
}

td.team p {
  font-size: small;
}

td.team h3 {
  text-decoration: none;
}

.info {
  text-align: center;
  width: 7%;
}

#teammates {
  width: 33%;
}

#teammates p {
  text-align: right;
  line-height: 2px;
  margin-bottom: 25px;
  font-style: italic;
}

#bottom {
  text-align: right;
}

.namelink {
  color: black;
  text-decoration: none;
}

.namelink:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
