body {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h2 {
  line-height: 1%;
  text-decoration: underline;
  font-style: italic;
}

.info {
  text-align: center;
  width: 20%;
}

table {
  width: 45%;
  height: 100%;
  border: 1px solid;
  background-color: white;
}

thead #header {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}

.title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#blurbackground {
  background-color: wheat;
  opacity: 0.9;
}

h1 {
  font-size: 55px;
  font-family: cursive;
  padding: 45px 0;
  margin-top: 5px;
  width: fit-content;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: red;
}

.profile {
  text-align: center;
  width: 20%;
  padding: 5px 0 0 0;
  border: 1px solid;
  background-color: whitesmoke;
  margin-right: 0.25%;
}

.manager-name {
  font-style: italic;
  line-height: 0px;
}

.manageravt {
  width: 100%;
}

.playeravt {
  width: 100%;
}

.playername {
  width: 40%;
}

.employees {
  display: flex;
}

/* -- Teams Title -- */
#cote-teamname {
  color: fuchsia;
}

#boboiboy-teamname,
#tfs-teamname {
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#boruto-teamname,
#pw-teamname {
  color: yellow;
}

#bleach-teamname {
  background: linear-gradient(to right, red, white, blue);
  background: -webkit-linear-gradient(to right, red, white, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#csc-teamname {
  background: linear-gradient(to right, blue, red);
  background: -webkit-linear-gradient(to right, blue, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#ds-teamname {
  background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dbz-teamname {
  background: linear-gradient(to right, yellow, orange, red);
  background: -webkit-linear-gradient(to right, yellow, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#doraemon-teamname {
  color: rgb(65, 145, 203);
}

#ta-teamname,
#ft-teamname {
  color: red;
}

#hxh-teamname {
  background: linear-gradient(to right, white, rgb(5, 206, 5), orange);
  background: -webkit-linear-gradient(to right, white, rgb(5, 206, 5), orange);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#ie-teamname {
  background: -webkit-linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#op-teamname {
  color: rgb(93, 145, 203);
}

#pl-teamname {
  background: linear-gradient(#fad709, #f1f4f4, #5e6365, #26b652, #b82315);
  background: -webkit-linear-gradient(
    #fad709,
    #f1f4f4,
    #5e6365,
    #26b652,
    #b82315
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#u_and_i-teamname {
  background: -webkit-linear-gradient(yellow, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dfc-teamname {
  background: -webkit-linear-gradient(red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
